---
layout: default
title: 分类
---
<h2>分类</h2>

{% assign sort_cat = site.categories | sort | where_exp: "item","item[0] != 'social'" %}

{% for category in sort_cat %}
  <span class="post-category">
  <a href="#{{ category[0] | slugify }}">
    {{ category[0] }}<sup>{{ category[1].size }}</sup></a>
  </span>&thinsp;
{% endfor %}

<div class="spacer"></div>

{% for category in sort_cat %}
{% if category[0] != "social" %}
  <h3 id="{{ category[0] | slugify }}" class="post-category-heading">{{ category[0] | strip }} </h3>
  <ul class="category-post-list">
    {% for post in category[1] %}
    <li>
      <span class="archive-post-title">{{ post.date | date: '%Y-%m-%d' }}&nbsp;
      <a href="{{ site.baseurl }}{{ post.url }}"> 
        {{ post.title }}
      </a>
    </span>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endfor %}
