---
layout: default
---
{% capture my_include %}
  {% include homeintro.md %}
{% endcapture %}
{{ my_include | markdownify }}

{% assign long_posts = site.posts | where_exp: "page","page.layout != 'note' " %}

<section>
  <h3 class="recent-post">新近博文</h3>
  <ul class="homepage-post-list" >
      {% for post in long_posts limit: site.front_page_post %}
 
        <li class="post-list">
          <div class="homepage-post-metadata">
          <span class="post-date">{{ post.date|date: "%Y-%m-%d" }}</span>
          <br>
          <a class="homepage-post-title" href='{{ site.baseurl }}{{ post.url }}' title='{{ post.title }}'>
             {{ post.title }}
          </a> 
          </div>
        <div class="post-excerpt">
           {{ post.excerpt | strip_html | truncate: 233, '...'}} 
        </div>
        </li>

      {% endfor %}
  </ul>
  {% assign numposts = long_posts | size %}
  {% if numposts > site.front_page_post %}
      <p class="more">
          <a href="{{ site.base }}/archive.html">更多&hellip;</a>
      </p>
  {% endif %}
</section>
