<!-- Link Gitalk 的支持文件  -->
{%- if page.key and
  site.gitalk.clientID and
	site.gitalk.clientSecret and
	site.gitalk.repository and
	site.gitalk.owner and
	site.gitalk.admin -%}

<style type="text/css">
  .gitalk-wrapper .gt-header-textarea {
    color: #333 !important;
  }
</style>

<link rel="stylesheet" href="https://unpkg.com/gitalk@1.2.2/dist/gitalk.css">
<script src="/assets/js/gitalk.min.js"></script> 
<!-- <script type="text/javascript" src="/assets/js/md5.min.js"></script> -->

<div class="gitalk-wrapper" id="js-gitalk-container"></div> 

{%- for _admin_id in site.gitalk.admin -%}
		{%- assign _admin = _admin | append: ", '" | append: _admin_id | append: "'" -%}
{%- endfor -%}

<script type="text/javascript">
    var gitalk = new Gitalk({
    // gitalk的主要参数
        clientID: '{{ site.gitalk.clientID }}',
        clientSecret: '{{ site.gitalk.clientSecret }}',
        repo: '{{ site.gitalk.repository }}',
        owner: '{{ site.gitalk.owner }}',
        admin: [{{ _admin }}],
        id: '{{ page.key }}',
        
    });
    gitalk.render('js-gitalk-container');
</script> 

{%- endif -%}
<!-- Gitalk end -->
