{% assign siteAssetUrl = site.baseurl %}

<head>
    <title>
        {% if page.title %}
            {% if page.title.size > 0 %%}
                {{ page.title }}-{{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=2,minimum-scale=1.0" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <link rel="icon" href="{{siteAssetUrl}}/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{siteAssetUrl}}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{siteAssetUrl}}/assets/css/shared.css">
    {%- if page.layout == "post" %}
        <link rel="stylesheet" href="{{siteAssetUrl}}/assets/css/post.css">
        <link rel="stylesheet" href="{{siteAssetUrl}}/assets/css/syntax.css">
    {%- endif %}
    {%- if page.layout == "default" %}
        <link rel="stylesheet" href="{{siteAssetUrl}}/assets/css/default.css">
    {%- endif %}
    {%- if page.layout == "note" %}
        <link rel="stylesheet" href="{{siteAssetUrl}}/assets/css/post.css">
    {%- endif %}
</head>