<header class="site-header">
  <div class="site-name">
      <a class="site-name-text" href='{{ site.baseurl }}/'>{{ site.name }}</a>
  </div>
  <nav class="header-navigation">
      <ul class="nav-list">
          {% for navItem in site.navigation %}
              {% if forloop.first %}
                  {% assign currentUrl = page.url %}
              {% else %}
                  {% assign currentUrl = page.url | append: ".html" %}
              {% endif %}
          <!-- <li> {{ navItem.name | strip }}</li> -->
          <li class="nav-item">
              <a href='{{ navItem.url }}' {% if currentUrl == navItem.url %} class="active" {% endif %}> 
                  {{ navItem.name | strip }}
                </a>
          </li>
          {% endfor %}
      </ul>
  </nav>
</header>