<!DOCTYPE html>
<html>

{%- include head.html -%}

<body>
    <div class="container">
        {% include header.html %}
        
        <div class="page-content">

        <h1 class="post-title">{{ page.title }}</h1>

        <div class="post-metadata" >
        <span>
             发布日期：{{ page.date | date: "%Y-%m-%d %H:%M" }}
            {% if page.category.size > 0 %}
                <span>
                    &thinsp; 分类:
                    <a class="post-category" href="{{ site.baseurl }}/categories.html#{{ page.category | slugify | strip }}">{{ page.category | strip }}</a>
                </span>
            {% endif %}
            {% if page.tags.size > 0 %}
                <span>
                    &ensp; 标签:&nbsp;
                    {% for tags in page.tags %}
                    <a class="post-tag" href="{{ site.baseurl }}/tags.html#{{ tags | slugify | strip }}">#{{ tags | slugify | strip }}</a>&thinsp;
                    {% endfor %}
                </span>
            {% endif %}
        </span>
        </div>
        
        
        <div class="post-content">
            {% if page.note %}
                <div class="post-note">
                    <div class="post-note-text">
                        {{ page.note }}
                    </div>
                </div>
            {% endif %}

            {% if page.toc %}
            <div class="post-toc" >
                {% if page.lang=="en" %}
                    <div class="toc-title">
                        <h3 id="toc-heading">Contents</h3>
                    </div>
                {% else %}
                    <div class="toc-title">
                        <h3 id="toc-heading">目录</h3>
                    </div>
                {% endif %}
            {% include toc.html html=content h_max=site.toc_max %}
            </div>
            {% endif %}        
            {{ content }}
        </div>
        
        
        {% include footer.html %}
        
        </div>
        {% include mathjax.html %}
    </div>
    {% include modalImage.html %}
</body>
<script src="/assets/js/newTab.js"></script>
</html>